<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <div id="overview">
    <h1>Profiel voor <%= userName %></h1>
    <% nerd.forEach((repo)=> { %>
    <article class="student">
      <h3><%= repo.name %></h3>
        <a href="/nerds/<%= repo.full_name %>"> Go to repo
        </a>
      <div class="avatarWrapper">
        <img class="avatar" id="avatar" src="<%= repo.owner.avatar_url %>" alt="<%= repo.full_name %>">
      </div>
      <p><%= repo.description %></p>
      <p><%= repo.html_url %></p>
      <p><%= repo.homepage %></p>
      <p><%= repo.id %></p>
      <p class="private"><%= repo.private %></p>
      <p><%= repo.full_name %></p>
    </article>
    <% }) %>
  </div>

  <a class="backToTop" href="#top">Back to top</a>
</main>

<%- include('./partials/foot.ejs') %>
